### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import pandas as pd

HeroesCSV = "purchase_data.csv"

purchaseData = pd.read_csv(HeroesCSV)
purchaseData.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
cleandata = purchaseData.loc[:, ["Gender", "SN", "Age"]].drop_duplicates()
cleandata.count()

Gender    576
SN        576
Age       576
dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
totalPlayers = purchaseData["Item ID"].value_counts().count()
avgPrice = purchaseData["Price"].mean()
totalItems = purchaseData["Purchase ID"].count()
revenue = purchaseData["Price"].sum()

purchasingSummaryDF = pd.DataFrame()
purchasingSummaryDF["TotalPlayers"] = [totalPlayers]
purchasingSummaryDF["AvgPrice"] = [avgPrice]
purchasingSummaryDF["TotalItems"] = [totalItems]
purchasingSummaryDF["Revenue"] = [revenue]
purchasingSummaryDF

   TotalPlayers  AvgPrice  TotalItems  Revenue
0           179  3.050987         780  2379.77

## Gender Demographics

In [4]:
genderDF = cleandata["Gender"].value_counts()
genderDF["% Players"] = cleandata["Gender"].value_counts() / cleandata.count()[0]
genderDF

#Need help here

Male                                                                   484
Female                                                                  81
Other / Non-Disclosed                                                   11
% Players                Male                     0.840278
Female      ...
Name: Gender, dtype: object


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gende

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [5]:
genderCount = purchaseData.groupby(["Gender"]).count()["Price"]
purchaseCount = purchaseData.groupby(["Gender"]).count()["Price"]
avgPrice = purchaseData.groupby(["Gender"]).mean()["Price"]
totalPurchase = purchaseData.groupby(["Gender"]).sum()["Price"]
personTotal = totalPurchase / genderCount

genderAnalysis = pd.DataFrame({"PurchaseCount": purchaseCount,
                              "AveragePurchasePrice":avgPrice,
                              "TotalPurchase":totalPurchase,
                              "PerPersonTotal":personTotal})
genderAnalysis

,PurchaseCount,AveragePurchasePrice,TotalPurchase,PerPersonTotal
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 18, 19, 22, 25, 45]
ageBins = ["0-18", "19-22", "23-25", "25-45", "45+"]

purchaseData["Age Group"] = pd.cut(purchaseData["Age"], bins, labels=ageBins, include_lowest=True)
purchaseData.head()

ageCount = purchaseData.groupby(["Age Group"]).count()["Price"]
ageTotal = ageCount / purchaseData["SN"].value_counts().count()

ageAnalysis = pd.DataFrame({"TotalCount": ageCount,
                            "PercentofTotal":ageTotal})
ageAnalysis

           TotalCount  PercentofTotal
Age Group
0-18              164        0.284722
19-22              23        0.039931
23-25             231        0.401042
25-45             193        0.335069
45+               169        0.293403

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
bins = [0, 18, 19, 22, 25, 45]
ageBins = ["0-18", "19-22", "23-25", "25-45", "45+"]

purchaseData["Age Group"] = pd.cut(purchaseData["Age"], bins, labels=ageBins, include_lowest=True)
purchaseData.head()

ageCount = purchaseData.groupby(["Age Group"]).count()["Price"]
agePurchaseCount = purchaseData.groupby(["Age Group"]).count()["Price"]
ageAvgPrice = purchaseData.groupby(["Age Group"]).mean()["Price"]
ageTotalPurchase = purchaseData.groupby(["Age Group"]).sum()["Price"]
ageTotal = ageTotalPurchase / ageCount

ageAnalysis = pd.DataFrame({"PurchaseCount": ageCount,
                              "AveragePurchasePrice":ageAvgPrice,
                              "TotalPurchase":ageTotalPurchase,
                              "AgeGroupTotal":ageTotal})
ageAnalysis

           PurchaseCount  AveragePurchasePrice  TotalPurchase  AgeGroupTotal
Age Group
0-18                 164              3.065976         502.82       3.065976
19-22                 23              3.042609          69.98       3.042609
23-25                231              3.038571         701.91       3.038571
25-45                193              3.077979         594.05       3.077979
45+                  169              3.023728         511.01       3.023728

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
playerPurchaseCount = purchaseData.groupby(["SN"]).count()["Price"]
playerAvgPrice = purchaseData.groupby(["SN"]).mean()["Price"]
playerPurchase = purchaseData.groupby(["SN"]).sum()["Price"]

topSpenders = pd.DataFrame({"PurchaseCount": playerPurchaseCount,
                            "AveragePurchasePrice":playerAvgPrice,
                            "TotalPurchaseValue":playerPurchase})
topSpenders.sort_values(["TotalPurchaseValue"], ascending = False)

             PurchaseCount  AveragePurchasePrice  TotalPurchaseValue
SN
Lisosia93                5              3.792000               18.96
Idastidru52              4              3.862500               15.45
Chamjask73               3              4.610000               13.83
Iral74                   4              3.405000               13.62
Iskadarya95              3              4.366667               13.10
...                    ...                   ...                 ...
Ililsasya43              1              1.020000                1.02
Irilis75                 1              1.020000                1.02
Aidai61                  1              1.010000                1.01
Chanirra79               1              1.010000                1.01
Alo38                    1              1.000000                1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
itemPurchaseCount = purchaseData.groupby(["Item ID", "Item Name"]).count()["Price"]
itemAvgPrice = purchaseData.groupby(["Item ID", "Item Name"]).mean()["Price"]
itemPurchase = purchaseData.groupby(["Item ID", "Item Name"]).sum()["Price"]

topItems = pd.DataFrame({"PurchaseCount":itemPurchaseCount,
                         "AveragePurchasePrice":itemAvgPrice,
                         "TotalPurchaseValue":itemPurchase})
topItems.sort_values(["TotalPurchaseValue"], ascending = False)

,,PurchaseCount,AveragePurchasePrice,TotalPurchaseValue
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
125,Whistling Mithril Warblade,2,1.000000,2.00
126,Exiled Mithril Longsword,1,2.000000,2.00
104,Gladiator's Glaive,1,1.930000,1.93
42,The Decapitator,1,1.750000,1.75

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [34]:
itemPurchaseCount = purchaseData.groupby(["Item ID", "Item Name"]).count()["Price"]
itemAvgPrice = purchaseData.groupby(["Item ID", "Item Name"]).mean()["Price"]
itemPurchase = purchaseData.groupby(["Item ID", "Item Name"]).sum()["Price"]

topItems = pd.DataFrame({"PurchaseCount":itemPurchaseCount,
                         "AveragePurchasePrice":itemAvgPrice,
                         "TotalPurchaseValue":itemPurchase})
topItems.sort_values(["TotalPurchaseValue"], ascending = False)

,,PurchaseCount,AveragePurchasePrice,TotalPurchaseValue
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
125,Whistling Mithril Warblade,2,1.000000,2.00
126,Exiled Mithril Longsword,1,2.000000,2.00
104,Gladiator's Glaive,1,1.930000,1.93
42,The Decapitator,1,1.750000,1.75