### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import pandas as pd

HeroesCSV = "purchase_data.csv"

purchaseData = pd.read_csv(HeroesCSV)
purchaseData.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
playerCount = purchaseData.SN.value_counts().count()
purchaseData["playerCount"] = playerCount
playerCount

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
totalPlayers = purchaseData["Item ID"].value_counts().count()
avgPrice = purchaseData["Price"].mean()
totalItems = purchaseData["Purchase ID"].count()
revenue = purchaseData["Price"].sum()

purchasingSummaryDF = pd.DataFrame()
purchasingSummaryDF["TotalPlayers"] = [totalPlayers]
purchasingSummaryDF["AvgPrice"] = [avgPrice]
purchasingSummaryDF["TotalItems"] = [totalItems]
purchasingSummaryDF["Revenue"] = [revenue]
purchasingSummaryDF

   TotalPlayers  AvgPrice  TotalItems  Revenue
0           179  3.050987         780  2379.77

## Gender Demographics

In [4]:
genderDF = purchaseData.groupby(["Gender"]).agg({"playerCount":"count"})
genderDF["% Players"] = genderDF["playerCount"] / genderDF["playerCount"] * 100
genderDF

#Need help here

                       playerCount  % Players
Gender
Female                         113      100.0
Male                           652      100.0
Other / Non-Disclosed           15      100.0


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gende

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [10]:
genderAnalysisDf = purchaseData.groupby(["Gender"])
genderAnalysisDf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,playerCount
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,576
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,576
2,2,Ithergue48,24,Male,92,Final Critic,4.88,576
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,576
4,4,Iskosia90,23,Male,131,Fury,1.44,576
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,576
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,576
18,18,Reunasu60,22,Female,82,Nirvana,4.90,576
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,576
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,576
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33,576
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,576
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40,576
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75,576
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39,576

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
bins = [20, 22, 25, 45]
ageBins = ["0-20", "21-22", "23-25", "25+"]

purchaseData["Age Group"] = pd.cut(purchaseData["Age Group"], bins, labels=ageBins, include_lowest=True)
purchaseData

KeyError: 'Age Group'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame